{% extends 'base.html.twig' %}
{% block carousel %}{% endblock %}

{% block content %}
   <div class="row product-cont">
    <style>
        .product-item .product-ref {
            text-transform: uppercase;
            font-size: 15px;
            margin-top: 20px;
            margin-bottom: 0px;
        }

        .product-item {
            margin-top: 50px;
        }

        .product-item .product-int {
            display: block;
            font-size: 14px;
            margin-bottom: 20px;
        }

        .product-item .product-prix {
            font-size: 14px;
            font-weight: bold;
        }

        .product-cont {
            margin-bottom: 350px;
        }

        .img-fluid {
            border-radius: 10px;
        }

    </style>
    {% for bien in randomBiens %}
        <div class="col-md-4">
            <div class="product-item text-center">
                <a href="{{ path('bien', {"slug" : bien.slug}) }}">
                    <img src="/uploads/{{ bien.illustration }}" alt="{{ bien.reference }}"  class="img-fluid"></a>
                <h5 class="product-ref">{{ bien.reference }}</h5>
                <span class="product-int">{{ bien.intitule }}</span>
                <span class="product-prix">{{ bien.prix | number_format(2, ',','.') }} €</span>
            </div>
        </div>
    {% endfor %}
   </div>

{% endblock %}